body {
  color:#959595;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.8em;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  width:100%;
}
html, .main {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.main {
  background-attachment:initial;
  background-clip:initial;
  background-color:#FFFFFF;
  background-image:url(http://localhost:8888/mEgan/themes/yiitheme77/css/winglobal/images/header_bg.jpg);
  background-origin:initial;
  background-position:50% 87px;
  background-repeat:repeat no-repeat;
}
.clr {
  clear:both;
  font-size:0;
  line-height:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  width:100%;
}
.logo {
  float:left;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  width:auto;
}
h1 {
  color:#7FD0F6;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:36px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  letter-spacing:-2px;
  line-height:1.2em;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:40px;
  padding-left:24px;
  padding-right:0;
  padding-top:8px;
}
h1 a, h1 a:hover {
  color:#7FD0F6;
  text-decoration:none;
}
h1 small {
  color:#959595;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  letter-spacing:normal;
  line-height:1.2em;
  margin-top:-4px;
  padding-bottom:0;
  padding-left:68px;
  padding-right:0;
  padding-top:0;
}
h2 {
  color:#323A3F;
  font-family:Arial, Helvetica, sans-serif;
  font-size:24px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.5em;
  margin-bottom:8px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:8px;
  padding-left:0;
  padding-right:0;
  padding-top:8px;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.8em;
  margin-bottom:8px;
  margin-left:0;
  margin-right:0;
  margin-top:8px;
  padding-bottom:8px;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
p.spec {
}
a {
  color:#49B6E9;
  text-decoration:underline;
}
a.rm {
}
a.com {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  text-decoration:none;
}
a.com span {
  font-weight:bold;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.header {
}
.header_resize {
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-bottom:112px;
  padding-left:0;
  padding-right:0;
  padding-top:12px;
  width:970px;
}
.menu_nav {
  float:right;
  height:29px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:40px;
  padding-top:16px;
}
.menu_nav ul {
  height:30px;
  list-style-image:initial;
  list-style-position:initial;
  list-style-type:none;
}
.menu_nav ul li {
  float:left;
  margin-bottom:0;
  margin-left:0;
  margin-right:12px;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.menu_nav ul li a {
  color:#959595;
  display:block;
  font-size:14px;
  height:30px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:4px;
  padding-left:16px;
  padding-right:16px;
  padding-top:4px;
  text-decoration:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(http://localhost:8888/mEgan/themes/yiitheme77/css/winglobal/images/menu_a.gif);
  background-origin:initial;
  background-position:50% 0;
  background-repeat:repeat no-repeat;
  color:#FFFFFF;
}
.content_resize {
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-bottom:24px;
  padding-left:0;
  padding-right:0;
  padding-top:16px;
  width:970px;
}
.content .mainbar {
  float:left;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:28px;
  padding-right:0;
  padding-top:0;
  width:670px;
}
.content .mainbar img {
  border-bottom-color:#D8DBDC;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#D8DBDC;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#D8DBDC;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#D8DBDC;
  border-top-style:solid;
  border-top-width:1px;
  padding-bottom:4px;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
}
.content .mainbar img.fl {
  float:left;
  margin-bottom:4px;
  margin-left:0;
  margin-right:16px;
  margin-top:4px;
}
.content .mainbar .article {
  margin-bottom:12px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:24px;
  padding-right:24px;
  padding-top:8px;
}
.content .sidebar {
  float:right;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  width:288px;
}
.content .sidebar .gadget {
  margin-bottom:12px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:8px;
  padding-left:24px;
  padding-right:16px;
  padding-top:8px;
}
ul.sb_menu, ul.ex_menu {
  color:#959595;
  list-style-image:initial;
  list-style-position:initial;
  list-style-type:none;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
ul.sb_menu li, ul.ex_menu li {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
}
ul.sb_menu li {
  padding-bottom:4px;
  padding-left:0;
  padding-right:0;
  padding-top:4px;
  width:220px;
}
ul.ex_menu li {
  padding-bottom:4px;
  padding-left:0;
  padding-right:0;
  padding-top:4px;
}
ul.sb_menu li a, ul.ex_menu li a {
  color:#959595;
  margin-left:-12px;
  padding-left:12px;
  text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
  color:#49B6E9;
  font-weight:bold;
}
ul.sb_menu li a:hover {
  text-decoration:underline;
}
ul.ex_menu li a:hover {
  text-decoration:none;
}
.content .mainbar .comment {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:16px;
}
.content .mainbar .comment img.userpic {
  border-bottom-color:#DEDEDE;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#DEDEDE;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#DEDEDE;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#DEDEDE;
  border-top-style:solid;
  border-top-width:1px;
  float:left;
  margin-bottom:0;
  margin-left:0;
  margin-right:16px;
  margin-top:10px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.fbg {
  background-color:#89C8E4;
}
.fbg_resize {
  color:#FFFFFF;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-bottom:24px;
  padding-left:24px;
  padding-right:24px;
  padding-top:24px;
  text-align:justify;
  width:922px;
}
.fbg .c2 a, .fbg .c3 a {
  color:#FFFFFF;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:2px;
  padding-left:4px;
  padding-right:4px;
  padding-top:2px;
  text-decoration:underline;
}
.fbg h2 {
  color:#FFFFFF;
}
.fbg img {
  background-color:#FFFFFF;
  border-bottom-color:#99BECE;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#99BECE;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#99BECE;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#99BECE;
  border-top-style:solid;
  border-top-width:1px;
  margin-bottom:0;
  margin-left:0;
  margin-right:4px;
  margin-top:0;
  padding-bottom:3px;
  padding-left:3px;
  padding-right:3px;
  padding-top:3px;
}
.fbg .col {
  float:left;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
}
.fbg .c1 {
  padding-bottom:0;
  padding-left:0;
  padding-right:52px;
  padding-top:0;
  width:266px;
}
.fbg .c2 {
  margin-right:111px;
  padding-bottom:0;
  padding-left:16px;
  padding-right:16px;
  padding-top:0;
  width:256px;
}
.fbg .c3 {
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  width:178px;
}
.footer {
}
.footer_resize {
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-bottom:26px;
  padding-left:26px;
  padding-right:26px;
  padding-top:26px;
  width:922px;
}
.footer p {
  line-height:normal;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:4px;
  padding-left:0;
  padding-right:0;
  padding-top:4px;
}
.footer a {
  color:#959595;
  padding:inherit;
  text-decoration:underline;
}
.footer a:hover {
  text-decoration:none;
}
.footer .lf {
  float:left;
}
.footer .rf {
  float:right;
}
ol {
  list-style-image:initial;
  list-style-position:initial;
  list-style-type:none;
}
ol li {
  clear:both;
  display:block;
}
ol li label {
  display:block;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:16px;
}
ol li input.text {
  background-color:#FFFFFF;
  border-bottom-color:#C0C0C0;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#C0C0C0;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#C0C0C0;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#C0C0C0;
  border-top-style:solid;
  border-top-width:1px;
  height:16px;
  margin-bottom:2px;
  margin-left:0;
  margin-right:0;
  margin-top:2px;
  padding-bottom:5px;
  padding-left:2px;
  padding-right:2px;
  padding-top:5px;
  width:480px;
}
ol li textarea {
  background-color:#FFFFFF;
  border-bottom-color:#C0C0C0;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#C0C0C0;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#C0C0C0;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#C0C0C0;
  border-top-style:solid;
  border-top-width:1px;
  margin-bottom:2px;
  margin-left:0;
  margin-right:0;
  margin-top:2px;
  padding-bottom:2px;
  padding-left:2px;
  padding-right:2px;
  padding-top:2px;
  width:480px;
}
ol li .send {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:16px;
}
.searchform {
  float:right;
}
#formsearch {
  height:36px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:40px;
  padding-left:0;
  padding-right:28px;
  padding-top:10px;
}
#formsearch span {
  background-attachment:initial;
  background-clip:initial;
  background-color:#FFFFFF;
  background-image:url(http://localhost:8888/mEgan/themes/yiitheme77/css/winglobal/images/search.gif);
  background-origin:initial;
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  display:block;
  float:left;
  margin-bottom:6px;
  margin-left:0;
  margin-right:0;
  margin-top:6px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
#formsearch input.editbox_search {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:none;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-style:none;
  border-color:initial;
  border-image:initial;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  border-width:initial;
  color:#A8ACB2;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.5em;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:10px;
  padding-left:6px;
  padding-right:6px;
  padding-top:11px;
  width:181px;
}
#formsearch input.button_search {
  border-bottom-style:none;
  border-color:initial;
  border-image:initial;
  border-left-style:none;
  border-right-style:none;
  border-top-style:none;
  border-width:initial;
  float:left;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:6px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
